$headings-font: "sofia-pro", cursive;
$body-font: "sofia-pro", sans-serif;
.header-title {
  font-family: $headings-font;
  font-weight: bold; // or 700 if that's the correct weight for Sofia Pro bold
  // ... other styles ...
}
body {
  height: 100%;
  font-family: $body-font;
  background-color: #ff453b;
  
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}
.header {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
  overflow: hidden;
  transition: 0.45s ease 0.05s;
  max-height: 70px;
  &-title {
    width: 100%;
    font-family: $headings-font;
    font-size: 3.3em;
    color: #000000;
    margin-bottom: 15px;
  }
}

.team-container {
  padding: 30px 30px;
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.person {
  width: calc(25% - 30px);
  cursor: pointer;
  overflow: hidden;
  transition: 0.45s;
  position: relative;

  &-details {
    padding: 20px;
    box-sizing: border-box;
    margin-top: -15px;
    transition: 0.3s;

    // Responsive media query nested inside .person-details
    @media (max-width: 600px) {
      padding: 30px 10px; // Adjusted top/bottom padding to 30px and left/right padding to 10px
    }
  }
  &-img {
    width: 100%;
  }
  &-title {
    color: #000000;
    font-size: 2em;
  }
  &-desc {
    color: rgba(#000000
, 0.8);
    margin-top: 10px;
    text-transform: titlecase;
    font-size: 0.9em;
    letter-spacing: 0px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    &:hover {
      .person {
        opacity: 0.6;
      }
    }
  }
  &:hover {
    opacity: 1 !important;
  }
  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FF453B;
    content: "";
    height: 0px;
    transition: 0.45s;
  }
  &:after {
    content: "\f2ca";
    font-family: "Ionicons";
    font-size: 36px;
    color: #282828;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    left: 0;
    flex-direction: column;
  }
}

.container-selected {
  .header {
    max-height: 0px;
  }
  .person {
    opacity: 0 !important;
    pointer-events: none;
  }
  .person-list .person-selected {
    opacity: 1 !important;

    &:before {
      height: 100%;
    }
    .person-details {
      margin-top: -40px;
      opacity: 0;
    }
  }
}
.team-detail {
  position: absolute;
  width: calc(100% - 100px);
  right: 80px;
  top: 0;
  height: 100%;
  color: #fff;
  transition: 0.15s;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  &-bio {
    &-content {
      p {
        margin-bottom: 15px;
        line-height: 25px;
        font-size: 1.05em;
      }
    }
  }
  &-header {
    margin-bottom: 30px;
  }
  &-inner {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &-left {
    position: relative;
    width: 450px;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &:before {
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(#282828, 0.8);
      position: absolute;
      right: 0;
      top: 0;
    }
    &:after {
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        to right,
        rgba(40, 40, 40, 0) 9%,
        rgba(40, 40, 40, 0) 10%,
        rgba(40, 40, 40, 0) 38%,
        rgba(40, 40, 40, 1) 92%,
        rgba(40, 40, 40, 1) 100%
      );

      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &-photo {
    position: relative;
    text-align: center;
    z-index: 999;
    width: 100%;
    font-size: 0px;
    img {
      max-width: 100%;
      box-shadow: 0 10px 22px rgba(0,0,0,.3);
    }
  }
  &-right {
    box-sizing: border-box;
    width: calc(100% - 650px);
    min-height: 100%;
    display: flex;
    align-items: center;
    padding-right: 10%;
    position: relative;
    right: -30px;
    flex-wrap: wrap;
    .person-title {
      font-family: $headings-font;
      font-size: 2.2em;
    }
  }
}

.container-ready {
  .team-detail {
    transition: 0.45s ease 0.3s;
    opacity: 1;
    right: 0;
    visibility: visible;
    img {
      width: 75%;
    }
  }
  .team-container {
    height: 0px;
    overflow: hidden;
  }
  .person-selected {
    left: 0px !important;
    top: 0px !important;
    z-index: 99;
    height: 100% !important;
    width: 100px !important;
    pointer-events: auto;
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.person-back {
  &:before {
    height: 0px !important;
  }
  .person-details {
    margin-top: -15px !important;
    transition-delay: 0.35s;
    opacity: 1 !important;
  }
}

.social {
  margin-top: 15px;
  a {
    color: #fbf9bd;
    font-size: 20px;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}
@media (max-width: 1200px) {
  .team-detail-left {
    width: 400px;
    padding: 40px 40px;
    box-sizing: border-box;
  }
  .team-detail-right {
    padding-right: 0;
    width: calc(100% - 440px);
  }
  .person .person-title {
    font-size: 1.7em;
  }
  .person-details {
    padding: 0 10px;
  }
}

@media (max-width: 970px) {
  .team-detail-left {
    width: 100%;
    padding: 20px 20px 20px 20px;
    &:after {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(33, 33, 33, 1) 83%,
        rgba(40, 40, 40, 1) 100%
      );
    }
  }
  .team-detail-right {
    padding: 50px 50px;
    width: 100%;
  }
  .team-detail-header {
    text-align: left;
  }
  .container-ready .person-selected {
    width: 50px !important;
  }
  .team-detail {
    width: calc(100% - 50px);
  }
  .person {
    width: calc(50% - 50px);
    margin-bottom: 30px; /* Added space below each person's box */
  }
  .person-details .person-title {
    margin-top: 20px; /* Space above the title */
    margin-bottom: 20px; /* Space below the title, adjust as needed */
  }
}

@media (max-width: 480px) {
   .person {
    width: 100%; /* Each person takes full width */
    margin-bottom: 50px; /* Add some space between the entries */
  }
  .person-details {
    padding: 30px; /* Reduced padding for smaller screens */
  }
  .person-title {
    font-size: 1.5em; /* Smaller font size if necessary */
  }
  .person-desc {
    font-size: 0.9em; /* Smaller font size if necessary */
  }

  .header {
    margin-top: 30px;
  }
}
